* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    width: 100%;
    color: #111111;
    font-family: 'Roboto Mono', monospace;
}

header, main, footer {
    width: 100%;
}

p, h1, h2, h3 {
    margin: 0 0 1rem 0;
}

a {
    text-decoration: none;
    color: #111111;
}

.navbar {
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
}

.navbar-item {
    text-decoration: none;
}

.section {
    background-color: #3D3D3D;
}

.section:nth-child(1) {
    height: 100vh;
    background-color: #EEEEEE;
    position: relative;
}

.section:nth-child(2) {
    z-index: 1;
    position: relative;
}

.profile-image-container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.profile-image {
    max-height: 100%;
    position: relative;
    top: 1px;
}

.full-name-container {
    height: 30%;
    background-color: #3D3D3D;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 12px #000000;
    /* z-index: 1; */
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.full-name {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.first-name, .last-name, .profession {
    height: min-content;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}

.first-name {
    font-size: 1rem;
    top: calc(40% - 2.5rem);
}

.last-name {
    font-size: 3rem;
    top: calc(40% - 2rem);
}

.profession {
    font-size: 1rem;
    border-top: 1px solid #FFFFFF;
    top: calc(40% + 1rem);
    width: 304px;
    margin: 0 auto;
}

.platform-icons-container {
    display: flex;
    padding: 12px 0;
}

.platform-icon {
    margin: 0 0.4rem;
    height: 1.4rem;
    text-decoration: none;
}

.about-me-container, .skills-container {
    width: 304px;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    margin: 0 auto;
    padding: 12px;
}

.resume-download-button-container {
    margin: 24px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}

.resume-download-button {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: #111111;
    color: #FFFFFF;
    text-transform: lowercase;
    width: min-content;
    padding: 6px 12px;
    border-radius: 2px;
}

.laptop-icon {
    padding: 0 0 0 12px;
    height: 1.4rem;
}

.skill-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 4px 0;
    border-radius: 2px;
}

.skill-item:last-child {
    margin: 0;
}

.php-bar {
    background-color: #4D588E;
}

.javascript-bar {
    background-color: #EFD71D;
}

.html-bar {
    background-color: #E96228;
}

.css-bar {
    background-color: #2862E9;
}

.laravel-bar {
    background-color: #F72D1F;
}

.react-bar {
    background-color: #087EA4;
}

.jquery-bar {
    background-color: #0865A7;
}

.typescript-bar {
    background-color: #2F74C0;
}

.common-bar {
    background-color: #AAAAAA;
}
